<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
	<title>学长学姐帮帮忙</title>
	<link rel="stylesheet" href="static/css/detail.debug.css">
	<style>
		@media screen and (min-width:320px) {
		    html {
		        font-size: 32px;
		    }
		}
		@media screen and (min-width: 360px){
		    html {
		        font-size: 36px;
		    }
		}
		@media screen and (min-width: 375px){
		    html {
		        font-size: 37.5px;
		    }
		}
		@media screen and (min-width: 410px) {
		    html {
		        font-size: 41px;
		    }
		}
		@media screen and (min-width: 425px) {
		    html {
		        font-size: 42.5px;
		    }
		}
	</style>
</head>
<body>
	<div class="content-wp">
		<div class="content" questionID="12341234123">
			<div class="content-top">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
				<span class = "userName">
				老司机一号<label class = "userSex">萌新</label>
				</span>
				<span class = "time">1分钟前</span>
			</div>
			<div class="content-main">
				<h1>从火车站怎么来重邮？</h1>
				<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几
				据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
			</div>
			<div class="content-pic">
				<img src="static/img/exmple.png" alt="">
				<img src="static/img/exmple.png" alt="">	
				<img src="static/img/exmple.png" alt="">		
			</div>
		</div>
		<div class="comment" commentID ="123412wqweq34">
			<a href="userDetail.html">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
			</a>
			<div class="commentText">
				<span class = "userName">
				老司机一号<label class = "userSex">学长</label>
				</span>
				<div class="comment-main">
					<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
				</div>
				<div class="comment-bottom">
					<span class = "time">50分钟前</span>
					<span class="like"><img class = "likePic" src="static/img/dislike.png" alt="">10</span>
				</div>
			</div>
		</div>
		<div class="comment" commentID ="12341234">
			<a href="userDetail.html">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
			</a>
			<div class="commentText">
				<span class = "userName">
				老司机一号<label class = "userSex">学长</label>
				</span>
				<div class="comment-main">
					<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
				</div>
				<div class="comment-bottom">
					<span class = "time">50分钟前</span>
					<span class="like"><img class = "likePic" src="static/img/dislike.png" alt="">10</span>
				</div>
			</div>
		</div>
		<div class="comment" commentID ="12341234">
			<a href="userDetail.html">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
			</a>
			<div class="commentText">
				<span class = "userName">
				老司机一号<label class = "userSex">学姐</label>
				</span>
				<div class="comment-main">
					<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
				</div>
				<div class="comment-pic">
					<img src="static/img/exmple.png" alt="">
					<img src="static/img/exmple.png" alt="">		
				</div>
				<div class="comment-bottom">
					<span class = "time">50分钟前</span>
					<span class="like"><img class = "likePic" src="static/img/dislike.png" alt="">10</span>
				</div>
			</div>
		</div>
		<div class="comment" commentID ="12341234">
			<a href="userDetail.html">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
			</a>
			<div class="commentText">
				<span class = "userName">
				老司机一号<label class = "userSex">学姐</label>
				</span>
				<div class="comment-main">
					<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
				</div>
				<div class="comment-pic">
					<img src="static/img/exmple.png" alt="">
					<img src="static/img/exmple.png" alt="">		
				</div>
				<div class="comment-bottom">
					<span class = "time">50分钟前</span>
					<span class="like"><img class = "likePic" src="static/img/dislike.png" alt="">10</span>
				</div>
			</div>
		</div>
	</div>
	<div class="addPics">
		<div class="add">
			<input type="file" id = "addPic">
			<label>+</label>
		</div>
	</div>
	<div class="bottom">
		<img src="static/img/pic-icon.png" alt="">
		<input type="text">
		<button>发表</button>
	</div>
</body>
<script src="http://a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js,static/fastclick/1.0.6/fastclick.min.js"></script>
<script>FastClick.attach(document.body);</script>
<script src = "static/js/detail.js"></script>
</html>