<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
	<title>学长学姐帮帮忙</title>
	<link rel="stylesheet" href="static/css/index.debug.css">
	<style>
		@media screen and (min-width:320px) {
		    html {
		        font-size: 32px;
		    }
		}
		@media screen and (min-width: 360px){
		    html {
		        font-size: 36px;
		    }
		}
		@media screen and (min-width: 375px){
		    html {
		        font-size: 37.5px;
		    }
		}
		@media screen and (min-width: 410px) {
		    html {
		        font-size: 41px;
		    }
		}
		@media screen and (min-width: 425px) {
		    html {
		        font-size: 42.5px;
		    }
		}
	</style>
</head>
<body>
	<div class="top-wp">
		<div class="top">
			<div class="top-left click">
				最新问题
			</div>
			<div class="top-right">
				最热问题
			</div>
		</div>
	</div>
	<div class="search-box">
		<img src="static/img/search.png" alt="">
		<input type="text">
	</div>
	<div class="new">
		<a href="detail.html" class="content">
			<div class="content-top">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
				<span class = "userName">老司机一号</span>
				<img class = "arrow" src="static/img/arrow-r.png" alt="">
			</div>
			<div class="content-main">
				<h1>关于大一住宿的问题</h1>
				<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
			</div>
			<div class="content-bottom">
				<span class = "time">1分钟前</span>
				<span class="comment">30评论</span>
			</div>
		</a>
		<a href="detail.html" class="content">
			<div class="content-top">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
				<span class = "userName">老司机一号</span>
				<img class = "arrow" src="static/img/arrow-r.png" alt="">
			</div>
			<div class="content-main">
				<h1>从火车站怎么来重邮？</h1>
				<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
			</div>
			<div class="content-pic">
				<img src="static/img/exmple.png" alt="">
				<img src="static/img/exmple.png" alt="">	
				<img src="static/img/exmple.png" alt="">		
			</div>
			<div class="content-bottom">
				<span class = "time">1分钟前</span>
				<span class="comment">30评论</span>
			</div>

		</a>
		<a href="detail.html" class="content">
			<div class="content-top">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
				<span class = "userName">老司机一号</span>
				<img class = "arrow" src="static/img/arrow-r.png" alt="">
			</div>
			<div class="content-main">
				<h1>从火车站怎么来重邮？</h1>
				<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
			</div>
			<div class="content-pic">
				<img src="static/img/exmple.png" alt="">
				<img src="static/img/exmple.png" alt="">	
				<img src="static/img/exmple.png" alt="">		
			</div>
			<div class="content-bottom">
				<span class = "time">1分钟前</span>
				<span class="comment">30评论</span>
			</div>

		</a>
	</div>
	<div class="hot">
		<a href="detail.html" class="content">
			<div class="content-top">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
				<span class = "userName">老司机一号</span>
				<img class = "arrow" src="static/img/arrow-r.png" alt="">
			</div>
			<div class="content-main">
				<h1>关于大一住宿的问题</h1>
				<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
			</div>
			<div class="content-bottom">
				<span class = "time">1分钟前</span>
				<span class="comment">30评论</span>
			</div>
		</a>
		<a href="detail.html" class="content">
			<div class="content-top">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
				<span class = "userName">老司机一号</span>
				<img class = "arrow" src="static/img/arrow-r.png" alt="">
			</div>
			<div class="content-main">
				<h1>从火车站怎么来重邮？</h1>
				<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
			</div>
			<div class="content-pic">
				<img src="static/img/exmple.png" alt="">
				<img src="static/img/exmple.png" alt="">	
				<img src="static/img/exmple.png" alt="">		
			</div>
			<div class="content-bottom">
				<span class = "time">1分钟前</span>
				<span class="comment">30评论</span>
			</div>

		</a>
		<a href="detail.html" class="content">
			<div class="content-top">
				<img class = "userPic" src="static/img/mainPic.png" alt="">
				<span class = "userName">老司机一号</span>
				<img class = "arrow" src="static/img/arrow-r.png" alt="">
			</div>
			<div class="content-main">
				<h1>从火车站怎么来重邮？</h1>
				<p>学弟一枚，想问问关于大一的住宿情况，据说男生都是住在一、五、六、栋啊，条件怎么样啊，几人间呢，有没有独立的卫生间浴室等等</p>
			</div>
			<div class="content-pic">
				<img src="static/img/exmple.png" alt="">
				<img src="static/img/exmple.png" alt="">	
				<img src="static/img/exmple.png" alt="">		
			</div>
			<div class="content-bottom">
				<span class = "time">1分钟前</span>
				<span class="comment">30评论</span>
			</div>

		</a>
	</div>
	<footer>
		<div class="index">
			<a href="index.html">
				<img src="static/img/index-icon-c.png" alt="">
				首页
			</a>
		</div>
		<div class="question">
			<a href="question.html">
				<img src="static/img/question-icon.png" alt="">
				提问
			</a>
		</div>
		<div class="search">
			<a href="search.html">
				<img src="static/img/search-icon.png" alt="">
				查找
			</a>
		</div>
		<div class="user">
			<a href="user.html">
				<img src="static/img/user-icon.png" alt="">
				个人中心
			</a>
		</div>
	</footer>
</body>
<script src="http://a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js,static/fastclick/1.0.6/fastclick.min.js"></script>
<script>FastClick.attach(document.body);</script>
<script src = "static/js/index.js"></script>
</html>