<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
	<title>学长学姐帮帮忙</title>
	<link rel="stylesheet" href="static/css/user.debug.css">
	<style>
		@media screen and (min-width:320px) {
		    html {
		        font-size: 32px;
		    }
		}
		@media screen and (min-width: 360px){
		    html {
		        font-size: 36px;
		    }
		}
		@media screen and (min-width: 375px){
		    html {
		        font-size: 37.5px;
		    }
		}
		@media screen and (min-width: 410px) {
		    html {
		        font-size: 41px;
		    }
		}
		@media screen and (min-width: 425px) {
		    html {
		        font-size: 42.5px;
		    }
		}
	</style>
</head>
<body>
	<div class="userMassage">
		<img class= "userPic" src="static/img/mainPic.png" alt="">
		<div class="text">
			<span class = "userName">老司机一号</span>
			<label class = "userSex">萌新</label>
		</div>
	</div>
	<div class="mainMessage">
		<div class="sex">
			<img src="static/img/sex.png" alt="">性别
			<label>男</label>
		</div>
		<div class="collage">
			<img src="static/img/collage.png" alt="">学院
			<label>通信与信息工程学院</label>
		</div>
	</div>
	<div class="myAnswer">
		<a href="searchResult.html" class = "myQuestion">
			<img src="static/img/myQuestion.png" alt="">提问
			<span><img src="static/img/arrow-r.png" alt=""></span>	
			<label>6</label>
		</a>
		<a href="searchResult.html">
			<img src="static/img/answer.png" alt="">我的回答
			<span><img src="static/img/arrow-r.png" alt=""></span>
			<label>5</label>
		</a>
	</div>
	<footer>
		<div class="index">
			<a href="index.html">
				<img src="static/img/index-icon.png" alt="">
				首页
			</a>
		</div>
		<div class="question">
			<a href="question.html">
				<img src="static/img/question-icon.png" alt="">
				提问
			</a>
		</div>
		<div class="search">
			<a href="search.html">
				<img src="static/img/search-icon.png" alt="">
				查找
			</a>
		</div>
		<div class="user">
			<a href="user.html">
				<img src="static/img/user-icon-c.png" alt="">
				个人中心
			</a>
		</div>
	</footer>
</body>
<script src="http://a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js,static/fastclick/1.0.6/fastclick.min.js"></script>
<script>FastClick.attach(document.body);</script>
</html>