html {
  font-family: HYXiaoMaiTiJ,"Helvetica Neue",Helvetica,Arial,"Microsoft YaHei",sans-serif;
}

body {
  margin: 0 auto;
  margin-top: 1.706667rem;
  width: 10rem;
  height: 16.08rem;
  background: url(../img/bg3.png);
  background-repeat: repeat-y;
  background-size: 100%;
}

div {
  height: 0.866667rem;
  width: 1.6rem;
  background: rgba(134,225,239,.9);
  border-radius: 0.133333rem;
}

.search-box {
  width: 9.466667rem;
  height: 1.093333rem;
  margin: 0.4rem auto;
}

.search-box img {
  display: block;
  float: left;
  height: 0.666667rem;
  margin: 0.213333rem;
  margin-right: 0;
}

.search-box input {
  float: right;
  font-size: 0.4rem;
  color: #fff;
  margin: 0;
  width: 8rem;
  height: 1.093333rem;
  border: 0;
  background-color: rgba(0,0,0,0);
  outline: 0;
  padding: 0;
}

.tip {
  float: left;
  background-color: rgba(217,248,251,.5);
  color: #2ea1ed;
  border: 0.013333rem solid #76c6fc;
  margin-top: 0.266667rem;
  margin-left: 0.266667rem;
  font-size: 0.373333rem;
  line-height: 0.866667rem;
  text-align: center;
}

.click {
  background-color: rgba(118,198,252,.7);
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.333333rem;
  width: 100%;
  background-color: #fff;
}

footer div {
  font-size: 0.266667rem;
  text-align: center;
  float: left;
  width: 25%;
  background-color: #fff;
}

footer div a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
  color: #8f8f8f;
}

footer div img {
  display: block;
  margin: 0 auto;
  margin-top: 0.16rem;
  margin-bottom: 0.133333rem;
  height: 0.64rem;
}

footer .search a {
  color: #54ccf9;
}